.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}

.copyright {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 10px 1rem;
  justify-content: space-between;
}

.copyright a {
  text-decoration: underline;
}
